
    
​{{#each this}}
<li class="card__item" data-category = {{category}} data-description = {{description}} data-phone = {{phone}} data-userID = {{userId}} data-id = {{_id}}>
       
            <div class="card__img-wraper">
            <img class="card__img" src="{{imageUrls}}" alt="image">
                <svg class="card__svg card__svg__check" data-id = {{_id}}><use href="../images/sprite/symbol-defs.svg#icon-heart"></use></svg>
                
            </div>
        
    
    <div class="card__text">
        <h3 class="card__title">{{title}}</h3>
        <div class="double-price">
            <p class="card__price">{{price}} грн</p>
            <p class="card__sale isHidden">{{price}}</p>
        </div>
    </div>

</li>
{{/each}}