<ul class="myCalls__list">
    {{#each calls}}<li class="myCalls__item">
        {{#each imageUrls}}<img src="{{this}}" alt="">{{/each}}
        <p>{{title}}</p>
        <p>{{price}}</p>
    </li>{{/each}}
</ul>

<ul class="favourites__list">
    {{#each favourites}}<li class="myCalls__item">
        {{#each imageUrls}}<img src="{{this}}" alt="">{{/each}}
        <p>{{title}}</p>
        <p>{{price}}</p>
    </li>{{/each}}
</ul>